@model IEnumerable<WebSite.Models.Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4><a href="@Url.Action("HomePage","Home")">Home</a> &gt; Category &gt; @ViewBag.category.CateName</h4>
<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                <h2 class="head"> Products</h2>
                <div class="top-box">
                    @foreach (var product in ViewBag.products)
                    {
                        <div class="section group">
                            <div class="col_1_of_3 span_1_of_3">
                                <div class="inner_content clearfix">
                                    <div class="product_image">
                                        <img src="@Url.Content("~/Content/App/")images/@product.Image" alt="" width="300" height="180" />
                                    </div>
                                    <div class="sale-box1"><span class="on_sale title_shop">Sale</span></div>
                                    <div class="price">
                                        <div class="cart-left">
                                            <p class="title">@product.ProName</p>
                                            <div class="price1">
                                                <span class="actual">@product.Price $</span>
                                            </div>
                                        </div>
                                        <div class="cart-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clear"></div>
                </div>
            </div>
            <div class="rsidebar span_1_of_left">
                <div class="top-border"> </div>
                <div class="border">
                    <link href="~/Content/App/css/default.css" rel="stylesheet" type="text/css" media="all" />
                    <link href="~/Content/App/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
                    <script src="~/Content/App/js/jquery.nivo.slider.js"></script>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $('#slider').nivoSlider();
                        });
                    </script>
                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">
                            <img src="/Content/App/images/t-img1.jpg" alt="" />
                            <img src="/Content/App/images/t-img2.jpg" alt="" />
                            <img src="/Content/App/images/t-img3.jpg" alt="" />
                        </div>
                    </div>
                    <div class="btn"><a href="/Account/Login">Check it Out</a></div>
                </div>
                <div class="top-border"> </div>
                <div class="sidebar-bottom">
                    <h2 class="m_1">Newsletters<br> Signup</h2>
                    <p class="m_text">Lorem ipsum dolor sit amet, consectetuer</p>
                    <div class="subscribe">
                        <form>
                            <input name="userName" type="text" class="textbox">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>


